{% extends 'main.jinja2' %}
{% block title %}<title>Zadání sběru</title>{% endblock %}
{% block content %}

<h1 style="margin-left:40px;margin-top: 20px;margin-bottom: 20px;">
Zadání sběru
</h1>

<form class="collection__modification"
      name="collection__modification" method="POST">
<div class="wrapper">
	<div>
    <label for="phone">Telefon sběrače</label>
    <input id="phone" type="tel" placeholder="123-456-789" value="" name="name">
  </div>

  <div>
    <label for="weight">Hmotnost</label>
    <input id="weight" type="text" placeholder="69" value="" name="email">
  </div>

	<div>
    <label for="origin">Původ</label>
    <input id="origin" type="text" placeholder="Nigérie" value="" name="email">
	</div>

	<div class="circle__add">+</div>
  <div class="circle__remove">-</div>
</div>
</form>

<div class="bottom">
<h2>Hodnota sběru</h2>

<h2 class="total-value">1 200 Kč</h2>

<button class="btn__insert-collection">
Zadat sběr
</button>
</div>

{% endblock %}
