{% extends 'main.jinja2' %}
{% block title %}<title>Zadání sběru | Sběrné suroviny</title>{% endblock %}
{% block content %}
{% with messages = get_flashed_messages(with_categories=false) %}
{% if messages %}
  {% for message in messages %}
	<section>
	<h2 class="flash_message">{{ message }}</h2>
	</section>
  {% endfor %}
{% endif %}    
{% endwith %}


<h1 class="headline">
Zadání sběru
</h1>

<form class="collection__modification"
      name="collection__modification" method="POST">	
  <label class="phone" for="phone">Telefon sběrače</label>
  <input id="phone" class="phone" type="tel" name="phone" required>

  <input type="submit" class="btn" value="Zadat sběr">


<div class="row" id="left">

<div class="col name">
  <h2>Název</h2>
  {% for i in materials %}
	<label>
  <p>{{i[1]}}</p>
  </label>
  {% endfor %}
</div>

<div class="col weight">
  <h2>Hmotnost</h2>
	{% for i in materials %}
	<label id="widen">
	<input id="weight"
	       type="text" name="{{i[0]}}"></input>
	</label>
	{% endfor %}
</div>

<div class="col origin">
  <h2>Původ</h2>
  {% for i in materials %}
	<label id="widen">
	<input id="origin" 
	       type="text" name="{{i[0]}}"></input>
	</label>
	{% endfor %}
</div>

</div>
</form>


{% endblock %}
