{% extends 'main.jinja2' %}
{% block title %}<title>Žádosti o registrace | Sběrné suroviny</title>{% endblock %}
{% block content %}

<div class="container">
    <form method="POST">
        <h1>Žádosti o registrace</h1>
        <div class="form-group">
            <label for="">Telefon sběrače</label>
            <input name="email" type="text" class="form-control" required>
        </div>
        <input type="submit" class="btn" value="Hledat">
    </form>
</div>

{% endblock %}