{% extends 'main.jinja2' %}
{% block title %}<title>Žádosti o registrace | Sběrné suroviny</title>{% endblock %}
{% block content %}
<div class="reg_container">
    
    <form action="">
        <h1>Žádosti o registraci</h1>
        
        <div class="form-group">
            <label for="">Jméno</label>
            <input type="text" class="form-control" required maxlength="32">
        </div>

        <div class="form-group">
            <label for="">Příjmení</label>
            <input type="text" class="form-control" required maxlength="32">
        </div>
    
        <div class="form-group">
            <label for="">Adresa trvalého bydliště</label>
            <input type="text" class="form-control" required maxlength="50">
        </div>

        <div class="form-group">
            <label for="">Adresa dočasného bydliště</label>
            <input type="text" class="form-control" maxlength="50">
        </div>

        <div class="form-group">
            <label for="">E-mail</label>
            <input type="email" class="form-control" required maxlength="50">
        </div>

        <div class="form-group">
            <label for="">Telefon</label>
            <input type="tel" class="form-control" required maxlength="9">
        </div>


        <div class="form-group">
            <label for="">Bankovní spojení</label>
            <input type="text" class="form-control" required maxlength="32">
        </div>


        <input type="submit" class="btn" value="Potvrdit">
        <input type="submit" class="btn" value="Zamítnout">
    </form>
</div>
{% endblock %}