{% extends 'main.jinja2' %}
{% block title %}<title>Detaily sběru | Sběrné suroviny</title>{% endblock %}
{% block content %}

<h1 style="margin-left:40px;margin-top: 20px;margin-bottom: 20px;">
Detaily sběru
</h1>

<div class="row">
<div class="cols">
  <h2>Název</h2>
	<p>Lorem ipsum</p>
	<p>Bob</p>
</div>
<div class="cols">
  <h2>Hmotnost</h2>
	<p>Lorem Ipsum</p>
	<p>Škrob</p>
</div>
<div class="cols">
  <h2>Částka</h2>
	<p>Lorem Ipsum</p>
	<p>Škrob</p>
</div>
</div>

{% endblock %}
