<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/structure.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/colors.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/text.css') }}" type="text/css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@600&family=Signika:wght@500&display=swap" rel="stylesheet">

</head>
<body>
    {% include 'nav.jinja2' %}
    <main>
    {% block content %}
    {% endblock %}
    </main>
    {% include 'footer.jinja2' %}
</body>
</html>