{% extends 'main.jinja2' %}
{% block title %}<title>Správa uživatelů | Sběrné suroviny</title>{% endblock %}
{% block content %}
{% with messages = get_flashed_messages(with_categories=false) %}
{% if messages %}
    {% for message in messages %}
    <section><h2 class="flash_message">{{ message }}</h2></section>
    {% endfor %}
{% endif %}    
{% endwith %}

<h1 class="headline">
Správa uživatelů
</h1>

<div class="search-user">
<form method="POST">
  <label>ID</label>
	<input name="user_id" type="text">
	
	<p>nebo</p>
	<span></span>
	
	<label>Telefon</label>
  <input name="phone" type="text">
</div>

<input type="submit" class="search-user__btn" value="Hledat">
</form>
<button class="search-user__add-btn" type="button"
        onclick="location.href='{{ url_for('create_user') }}'">
Přidat uživatele
</button>

{% endblock %}
