{% extends 'main.jinja2' %}
{% block title %}<title>Moje sběry</title>{% endblock %}
{% block content %}

<h1 class="headline"> 
Moje sběry
</h1>

<div class="collection__dates">
<form method="POST">
  <label>Datum od</label>
	<input type="date" id="date-from" name="date-from">
	<br>
	<label>Datum do</label>
  <input type="date" id="date-until" name="date-until">
	<input name="button" class="search__my-collections"
	       type="submit" class="btn" value="Hledat">
</form>
</div>
<p>Tento měsíc vám bude vyplaceno: {{payment}}</p>
<div class="row">

<div class="col date">
  <h2>Datum</h2>
  {% for i in collections %}
	<form method="POST">
	<button class="pricelist-change-btn__name"
	        name="button" value="{{i[2]}}">
	  {{i[0]}}
	  </button>
  </form>
	{% endfor %}
</div>

<div class="col price">
  <h2>Částka</h2>
  {% for i in collections %}
	<p>{{i[1]}}{{" Kč"}}</p>
	{% endfor %}
</div>

</div>


{% endblock %}
