{% extends 'main.jinja2' %}
{% block title %}<title>Moje sběry</title>{% endblock %}
{% block content %}

<h1 style="margin-left:40px;margin-top: 20px;margin-bottom: 20px;">
Moje sběry
</h1>

<div class="collection__dates">
  <label>Datum od</label>
	<input type="date" id="date-from" name="date-from">
	
	<label>Datum do</label>
  <input type="date" id="date-until" name="date-until">
</div>

<button class="search__my-collections" role="button">Hledat</button>

<div class="row">
<div class="col" style="background-color:#B1CDA3;">
  <h2>Datum</h2>
    {% for i in collections %}
	<form method="POST"><button>{{i[0]}}{{" Kč"}}</button></form>
	{%endfor%}
</div>
<div class="col" style="background-color:#B1CDA3;">
  <h2>Částka</h2>
    {% for i in collections %}
	<p>{{i[1]}}{{" Kč"}}</p>
	{%endfor%}
</div>
</div>


{% endblock %}
