{% block nav %}
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
        &#9776;
        </label>
        <label class="logo">Sběrna</label>
        <ul>
            <li><a href="{{ url_for('home') }}">DOMOV</a></li>
            <li><a href="{{ url_for('stats') }}">STATISTIKY</a></li>
            <li><a href="{{ url_for('pricelist') }}">CENÍK</a></li>
            <li><a href="{{ url_for('login') }}">PŘIHLÁŠENÍ</a></li>
            <li><a href="{{ url_for('reg') }}">REGISTRACE</a></li>
        </ul>
    </nav>
{% endblock %}
