{% extends 'main.jinja2' %}
{% block title %}<title>Ceník | Sběrné suroviny</title>{% endblock %}
{% block content %}

<!-- Move icon to separate file? -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h1 class="headline">
Ceník
</h1>

<form method="POST" class="pricelist__search">
<label>
Vyhledávání:
</label>
<input type="text" placeholder="Řekni more za kolik..." name="search">
<button type="submit"><i class="fa fa-search"></i></button>
</form>


<div class="pricelist__results">

<table style="width:100%;padding-top:20px;padding-left:40px;padding-right:40px;padding-bottom:20px;text-align:center;background-color:white;">
   <tr>
    <th style="width:65%;padding-top:20px;padding-bottom:30px;font-size:30px;">Název</th>
		<th style="padding-top:20px;padding-bottom:30px;font-size:30px;">Cena/Kg</th>
	 </tr>
   {% for i in materials %}
   <tr>
    <td>{{i[0]}}</td>
    <td>{{i[1]}}</td>
   </tr>
   {%endfor%}
  </table>

<div>


{% endblock %}
