{% extends 'main.jinja2' %}
{% block title %}<title>Můj účet | Sběrné suroviny</title>{% endblock %}
{% block content %}

<h1 style="margin-left:40px; margin-top: 20px; margin-bottom: 20px;">Můj účet</h1>

<div class="side-by-side">
    <a href="{{ url_for('change_your_details') }}"><div>
        <img src="{{ url_for('static',filename='img/pencil.png') }}" alt="Pencil">
        <h3>ZMĚNA ÚDAJŮ</h3>
    </div></a>

    <a href="{{ url_for('my_collections') }}"><div>
        <img src="{{ url_for('static',filename='img/recycle-bin.png') }}" alt="Recycle bin">
        <h3>MOJE SBĚRY</h3>
    </div></a>
{%if session['user'][0][2] == 2 or session['user'][0][2] == 1%}
    <a href="{{ url_for('applications_for_registration') }}"><div>
        <img src="{{ url_for('static',filename='img/registration.png') }}" alt="Registration">
        <h3>ŽÁDOSTI O REGISTRACI</h3>
    </div></a>

    <a href="{{ url_for('insert_collection') }}"><div>
        <img src="{{ url_for('static',filename='img/notes.png') }}" alt="Notes">
        <h3>ZADÁNÍ SBĚRU</h3>
    </div></a>
{%if session['user'][0][2] == 1%}

    <a href="{{ url_for('change_pricelist') }}"><div>
        <img src="{{ url_for('static',filename='img/file.png') }}" alt="File">
        <h3>ZMĚNA CENÍKU</h3>
    </div></a>

    <a href="{{ url_for('user_management') }}"><div>
        <img src="{{ url_for('static',filename='img/management.png') }}" alt="Management">
        <h3>SPRÁVA UŽIVATELŮ</h3>
    </div></a>
{% endif%}
{% endif%}
</div>
{% endblock %}