{% extends 'main.jinja2' %}
{% block title %}<title>Statistiky | Sběrné suroviny</title>{% endblock %}
{% block content %}

<h1 style="margin-left:40px;margin-top: 20px;margin-bottom: 20px;">
Statistiky
</h1>

<h2 class="stats">Celkové tuny jednotlivých materiálů</h2>
<div class="row">
<div class="col" style="background-color:#B1CDA3;">
  <h2>Název</h2>
    {% for i in material_total %}
	<p>{{i[0]}}</p>
	{%endfor%}
</div>
<div class="col" style="background-color:#B1CDA3;">
  <h2>Hmotnost</h2>
    {% for i in material_total %}
	<p>{{i[1]}}</p>
	{%endfor%}
</div>
</div>

<h2 class="stats">Celkové tuny za jednotlivé roky</h2>
<div class="row">
<div class="col" style="background-color:#B1CDA3;">
  <h2>Rok</h2>
    {% for i in yearly_material_total %}
	<p>{{i[0]}}</p>
	{%endfor%}
</div>
<div class="col" style="background-color:#B1CDA3;">
  <h2>Hmotnost</h2>
    {% for i in yearly_material_total %}
	<p>{{i[1]}}</p>
	{%endfor%}
</div>
</div>

<h2 class="stats">Celkové výdělky za jednotlivé roky</h2>
<div class="row">
<div class="col" style="background-color:#B1CDA3;">
  <h2>Rok</h2>
    {% for i in income_total %}
	<p>{{i[0]}}</p>
	{%endfor%}
</div>
<div class="col" style="background-color:#B1CDA3;">
  <h2>Výdělek</h2>
    {% for i in income_total %}
	<p>{{i[1]}}</p>
	{%endfor%}
</div>
</div>

{% endblock %}
