{% extends 'main.jinja2' %}
{% block title %}<title>Statistiky</title>{% endblock %}
{% block content %}
    <h1>Tohle je stránka se statistikami</h1>
    <section>
    <table>
  <tr>
    <th>Company</th>
    <th>Contact</th>
    <th>Country</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
  </tr>
</table>
    </section>
{% endblock %}