p {
    color: black;
}
section {
    background-color: #7DBD5F;
}

.dot {
    background-color: #B1CDA3;
}
.container form {
    background: #C9F9B2;
}
nav ul li a{ 
    color: white;
}
.logo {
    color: white;
}
nav {
    background: #66A449;
}
.checkbtn {
    color: white;
}
ul {
    background: #B1CDA3;
}
@media only screen and (min-width: 1080px) {
    ul {
        background: #66A449;
    }
    a.active, a:hover {
        background: #B1CDA3;
    }


}