/* Obecne */

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

section {
  width: 100%;
}

.circles {
  text-align: center;
}

section h1 {
  padding: 30px 10px 0;
  line-height: 25px;
	margin-left: 30px;
	font-size: 30px;
}

section h2 {
  padding: 5px 10px 0;
  line-height: 25px;
  text-align: center;
	margin-bottom: 20px;
}

section p {
  padding: 0 10px 0;
	margin-left: 30px;
	margin-right: 30px;
	border-bottom: 15px;
}

.flash_message {
	padding-top: 10px;
	padding-bottom: 10px;
	animation: hide_message 0s ease-in 3s;
	animation-fill-mode: forwards;

}

@keyframes hide_message {
	to {
		visibility: hidden;
		width: 0%;
		height: 0;
		padding-top: 0;
		padding-bottom: 0;

	}
}

.banner {
  width: 100%;
}

.dot:nth-child(1) {
	margin-right: 25px;
}

.dot {
  height: 70px;
  width: 300px;
  border-radius: 50%;
  display: inline-block;
}

span p {
  padding-top: 25px;
}

.headline {
	margin-left: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
}

/* Formulare */

.container {
  display: block;
  margin: 30px auto auto auto;
  width: 500px;
  max-width: 100%;
}

.reg_container {
  margin: 30px auto auto auto;
  width: 1000px;
  max-width: 90%;
}

.container form, .reg_container form {
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(0, 0, 0,.3);
}

.container form h1, .reg_container form h1 {
  text-align: center;
  margin-bottom: 24px;
}

.container form .form-control, .reg_container form .form-control, .reg_container form .form-group select {
  width: 99%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid silver;
	margin: 10px 0 18px 0;
  padding-left: 3px;
  background-color: white;
}

.reg_container form .form-group select {
  width: 100%;
}

.form-group {
  width: 100%;
  display: inline-block;
}

.form-group label {
  display: block;
  text-align: center;
}

.form-control {
	font-size: 17px;
}

input:focus {
  border-color: #66A449;
  box-shadow: 1px 1px 3px #66A449 inset, 0 0 10px #66A449;
  outline: 0 none;
}

/* Navigace */
nav {
  position:sticky;
	top:0;
	z-index:10;
}

nav ul li a { 
  text-decoration: none;
  font-size: 17px;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 7px 13px;
}

.logo {
  font-size: 35px;
  line-height: 80px;
  padding: 0 40px;
  font-weight: bold;
}

nav ul {
  float: right;
  box-sizing: border-box;
  list-style: none;
  margin-right: 40px;
  z-index: 10;
}

nav ul li {
  display: block;
  line-height: 80px;
  margin: 0 25px;
}

nav ul li a {
	font-size: 20px;
}

a.active, a:hover {
  background: none;
  transition: .5s;
}

.checkbtn {
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: block;
}

#check {
  display: none;
}

ul {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 80px;
  left: -100%;
  text-align: center;
  transition: all .5s;
}

#check:checked ~ ul {
  left: 0;
}

/* Paticka */
footer {
  text-align: center;
  background-color: lightgray;
  padding: 7px 13px;
  margin-top: auto;   
}


.block button {
  padding: 20px 60px 20px 60px;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #66A449;
  cursor: pointer;
}

form.pricelist__search {
	margin-bottom: 30px;
}

form.pricelist__search input[type=text] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid grey;
  background: #f1f1f1;
}

form.pricelist__search label {
	font-size: 22px;
  margin-left: 40px;
	margin-bottom: 15px;
	margin-right: 15px;
	display: inline-block;
}

form.pricelist__search button {
  padding: 10px;
  background: #B1CDA3;
  color: white;
  font-size: 16px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.pricelist__search button:hover {
  background: #66A449;
}

form.pricelist__search::after {
  content: "";
  clear: both;
  display: table;
}

.pricelist__results {
	width: 100%;
	height: 81vh;
	background-color: #B1CDA3;
}

table, td, th {
  border: 1px solid;
}


/* Statistiky */

h2.stats {
	margin-left: 40px;
	margin-bottom: 10px;
}

.row {
	margin-left: 40px;
	margin-bottom: 20px;
	display: flex;
}

.col > * {
	border-bottom: 1px solid gray;
}

.col {
	text-align: center;
	float: left;
	width: 50%;
	padding: 10px;
	box-sizing: border-box;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.col > p, .cols > p {
	margin-top: 10px;
}

.col > form > button {
	margin-top: 7px;
	font-size: 20px;
  /* width: 150px; */
	border: 1px solid gray;
  background-color: white;
  cursor: pointer;
}



/* Detaily sberu */

.cols {
	background-color:#B1CDA3;
	text-align: center;
	float: left;
	width: 33%;
	padding: 10px;
	box-sizing: border-box;
}

/* Správa uživatelů */

.search-user {
	font-size: 24px;
  display: grid;
	grid-template-columns: max-content max-content;
	gap: 5px;
	margin-left: 40px;
}

.search-user label {
	text-align: right;
}

.search-user label:after {
	content: ":";
}

.search-user p {
	color: gray;
	text-align: left;
}

.search-user__btn {
  align-items: center;
  background-color: rgba(240, 240, 240, 0.26);
  border: 1px solid #DFDFDF;
  border-radius: 10px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: flex;
  font-size: 22px;
  justify-content: center;
  line-height: 35px;
  width: 10%;
  text-decoration: none;
  transition: all .2s;
  user-select: none;
  touch-action: manipulation;
  width: 325px;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 30px;
	margin-bottom: 35px;
}

.search-user__btn:active, .button-46:hover {
  outline: 0;
}

.search-user__btn:hover {
  background-color: #FFFFFF;
  border-color: rgba(0, 0, 0, 0.19);
}


.search-user__add-btn {
  align-items: center;
  background-color: #C9F9B2;
  border: 1px solid #DFDFDF;
  border-radius: 10px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: flex;
  font-size: 22px;
  justify-content: center;
  line-height: 35px;
  width: 10%;
  text-decoration: none;
  transition: all .2s;
  user-select: none;
  touch-action: manipulation;
  width: 325px;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 30px;
	margin-bottom: 35px;
}

.search-user__add-btn:active {
  outline: 0;
}

.search-user__add-btn:hover {
  background-color: #7DBD5F;
	color: white;
  border-color: rgba(0, 0, 0, 0.19);
}

.collection__dates {
	font-size: 24px;
  display: grid;
	grid-template-columns: max-content max-content;
	gap: 5px;
	margin-left: 40px;
}

.collection__dates > form > label {
	margin-right: 12px;
}

.collection__dates input {
	margin-bottom: 15px;
	font-size: 22px;
}

.search__my-collections, .container form .btn, .reg_container .btn {
  align-items: center;
  background-color: rgba(240, 240, 240, 0.26);
  border: 1px solid #DFDFDF;
  border-radius: 10px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: flex;
  font-size: 22px;
  justify-content: center;
  line-height: 35px;
  width: 10%;
  text-decoration: none;
  transition: all .2s;
  user-select: none;
  touch-action: manipulation;
  width: 325px;
	margin-right: 40px;
	margin-bottom: 35px;
}

.container form .btn, .reg_container .btn {
	background-color: white;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 50%;
  transform: translateX(-50%);
}

/* Moje sběry */

.price > p {
	margin-top: 7px;
}


/* Zadání sběru */

.collection__modification div {
	font-size: 22px;
	float: left;
	margin-right: 20px;
}

.collection__modification input {
	font-size: 22px;
}

.collection__modification select {
	font-size: 22px;
	width: 100%;
}

.collection__modification input {
	display: grid;
	width: 50%
}

.collection__modification input,
.collection__modification label {
  display: block;
}

.collection__modification input {
	padding-left: 10px;
}

.collection__modification .wrapper {
	margin-left: 40px;
}

.circle__add {
	background-color: #B1CDA3;
	cursor: pointer;
	user-select: none;
  width: 40px; 
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center; 
  justify-content: center;
	margin-top: 20px;
	margin-left: 10px;
}

.circle__add:hover {
	background-color: green;
	color: white;
}

.circle__remove {
	background-color: #FF6C6C;
	cursor: pointer;
	user-select: none;
  width: 40px; 
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center; 
  justify-content: center;
	margin-top: 20px;
	margin-left: 10px;
}

.circle__remove:hover {
	background-color: red;
	color: white;
}

.bottom {
	position: fixed;
  bottom: 0px;
	margin-left: 40px;
	margin-bottom: 15%;
} 

.total-value {
  display: inline-block;
	user-select: none;
  height: 50px;
  background: lightgray; 
  padding-left: 20px;
  padding-right: 20px;
  line-height: 50px;
	margin-top: 10px;
	margin-right: 20px;
}


.btn__insert-collection {
  font-size: 25px;
	background-color: #C9F9B2;
	border: none;
	cursor: pointer;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
}

.btn__insert-collection:hover {
	background-color: #7DBD5F;
	color: white;
  border-color: rgba(0, 0, 0, 0.19);
}

.closer {
	margin-left: -10%;
}

/* Statistiky a změna ceníku */

.row {
	width: 50%;
}

.col {
	background-color: white;
}

.col h2 {
	background-color: #B1CDA3;
}

.col.price p {
	margin-top: 7px;
}

.col.date p {
	margin-top: 7px;
}

.col p {
	font-size: 20px;
	margin-top: 12px;
	padding-top: 1%;
}

.col input {
	width: 100%;
	height: 100%;
	font-size: 20px;
	padding-top: 1%;
	padding-bottom: 1%;
	display: table-cell;
	text-align: center;
}

.pricelist-change-btn {
  align-items: center;
  background-color: #C9F9B2;
  border: 1px solid #DFDFDF;
  border-radius: 10px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: flex;
  font-size: 22px;
  justify-content: center;
  line-height: 35px;
  width: 10%;
  text-decoration: none;
  transition: all .2s;
  user-select: none;
  touch-action: manipulation;
  width: 20%;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 16px;
	margin-bottom: 50px;
}

.pricelist-change-btn__name {
	width: 100%;
  box-sizing: border-box;
	display: block;
}

.pricelist-change-btn:active {
  outline: 0;
}

.pricelist-change-btn:hover {
  background-color: #7DBD5F;
	color: white;
  border-color: rgba(0, 0, 0, 0.19);
}

/* Muj ucet flex */

.side-by-side {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 1em;
  margin-left: 2em;
}

.side-by-side a {
  text-decoration: none;
  color: #000000;
  width: calc(33% - 4em);
  background: #B1CDA3;
  padding: 1em 1.5em;
  margin-bottom: 1em;
  margin-right: 1em;
}

@media screen and (max-width: 900px) {
  .side-by-side a {
      width: 40%;
  }
}

@media screen and (max-width: 690px) {
  .side-by-side a {
      width: 100%;
  }

  .wrapper label {
	  margin-left: auto;
		margin-top: 10px;
	}

	.closer {
		margin-left: 0px;
	}

	.pricelist__search input {
		margin-left: 40px;
	}

	.pricelist-change-btn {
		width: 280px;
		flex-direction: column;
		align-items: right;
	}

	.row {
		font-size: 12px;
		width: 80%;
	}

	.col.date > p {
		font-size: 12px;
		margin-top: 5px;
	}
}

.side-by-side h3 {
  margin-top: 1.25rem;
}

.side-by-side a img {
  margin: auto;
  display: block;
  height: 150px;
  width: 150px;
}

.side-by-side a h3 {
  text-align: center;
  text-transform: uppercase;
}

@media only screen and (min-width: 1080px) {
section {
  width: 80%;
  margin: 0 auto;
  text-align: left;
	}

  section h1 {
		font-size: 32px;
    padding: 27px 0 0;
    line-height: 25px;
	}

  section h2 {
    padding: 20px 0 0;
    line-height: 25px;
    margin-left: 30px;
	}

  section p {
    padding: 20px 0 0;
	}

  .kola h2{
    text-align: left;
	}

  .block {
    display: inline-block;
	}

  .dot {
    height: 200px;
    width: 200px;
	}

  span p {
    padding-top: 85px;
		font-size: 25px;
  }

  .checkbtn {
    display: none;
  }

  ul {
    position: static;
    width: auto;
    height: auto;
    transition: 0s;
	}

  nav ul li {
    display: inline-block;
  }

  nav {
    position: static;
    top: auto;
    z-index: auto;
  }

  .form-group {
    width: 496px;
    display: inline-block;
  }
}
