* {
    margin: 0;
    padding: 0;
}

section {
    width: 100%;

}
.kola {
    text-align: center;
}

section h1 {
    padding: 30px 10px 0;
    line-height: 25px;
}

section h2 {
    padding: 5px 10px 0;
    line-height: 25px;
    text-align: center;
}

section p {
    padding: 0 10px 0;

}

.banner {
    width: 100%;
}

.dot {
    height: 70px;
    width: 300px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5%;

}
span p {
    padding-top: 25px;
}
section button {
    margin-left: 45%;
}

@media only screen and (min-width: 768px) {
    section {
        width: 80%;
        margin: 0 auto;
        text-align: left;
    }

    section h1 {
        padding: 20px 0 0;
        line-height: 25px;
}

    section h2 {
        padding: 20px 0 0;
        line-height: 25px;
        margin-left: 30px;
}

    section p {
        padding: 20px 0 0;
}

    .kola h2{
        text-align: left;
}

    div {
        display: inline-block;
}
    .dot {
    height: 200px;
    width: 200px;
}

    span p {
        padding-top: 90px;
    }
    section button {
        margin-left: 350px;


    }
    nav {

        width: 100%;
    }
    nav ul {
        float: right;
        list-style: none;
        box-sizing: border-box;
        padding-right: 20%;
    }
    nav ul li {
        display: inline-block;
        margin: 0 30px;
    }
    nav ul li a {
        text-decoration: none;
    }

}


