{% block nav %}
    <nav>
        <img src="{{ url_for('static',filename='img/logo.png') }}">
        <ul>

            <li><a href="{{ url_for('home') }}">DOMOV</a></li>
            <li><a href="{{ url_for('stats') }}">STATISTIKY</a></li>
            <li><a href="{{ url_for('pricelist') }}">CENNÍK</a></li>
            <li><a href="{{ url_for('login') }}">PŘIHLÁŠENÍ</a></li>
            <li><a href="{{ url_for('reg') }}">REGISTRACE</a></li>
        </ul>
    </nav>

{% endblock %}